@light: 300;

@font-face {
    font-family: "Kirvy";
    src: url("../fonts/Kirvy-Regular.otf") format("opentype"),
         url("../fonts/Kirvy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Kirvy";
    font-weight: bold;
    src: url("../fonts/Kirvy-Bold.otf") format("opentype"),
         url("../fonts/Kirvy-Bold.woff") format("woff");
}

@font-face {
    font-family: "Kirvy";
    font-weight: @light;
    src: url("../fonts/Kirvy-Light.otf") format("opentype"),
         url("../fonts/Kirvy-Light.woff") format("woff");
}
