@import "fonts.less";

body {
    background-image: url("../images/headerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    text-align: center;

    > div {
        height: 100%;
    }

    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1, h2 {
            font-family: "Kirvy";
            font-weight: bold;
            text-transform: uppercase;
        }

        h1 {
            font-size: 5em;
        }

        h2 {
            margin-top: 1em;
            font-size: 2em;
        }
    }

    .slide-down {
        position: absolute;
        bottom: 4em;
        left: 0;
        right: 0;
        margin: 0 auto;

        width: 46px;
        height: 46px;

        background-image: url("../images/slidearrow.png");
    }
}
