doctype html
html
    head
        title Cezary Kupaj portfolio
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="css/bootstrap-theme.css")

        link(rel="stylesheet", type="text/css", href="css/main.css")
    body
        main.container-fluid
            section#header.row
                .col-xs-12
                    article.text
                        h1 Cezary Kupaj
                        h2 Frontend Developer

                    .slide-down

        script(type="text/javascript").
            document.getElementById("header").style.height = window.innerHeight + "px";
        script(type='text/javascript').
            document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');
